<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <!-- <test name="Test">
    <classes>
      <class name="testcases.LoginTestcases"/>
      <class name="testcases.DashboardMyInfo"/>
    </classes>
  </test> --> <!-- Test -->
  	<parameter name="user" value="Admin"/>
  	<parameter name="pass" value="admin123"/>
 
  <test name="Test1">
  <classes>
      <class name="testcases.LoginTestcases"/>
      <class name="testcases.DashboardMyInfo"/>
      <class name="testcases.ParamTest"/>
    </classes>
 <!--  <groups>
    <run>
      <exclude name="sanity"/>
     <include name="Regression"/>
    </run>
  </groups> -->
</test>
  
</suite> <!-- Suite -->
